:root{
    --primary-color: #7c3aed;
}
body{
    margin:0 auto;
    
    box-sizing: border-box;
    width: 80vh;
}
#container{
    display:flex;
    flex-direction: column;
    width:70%;
}
.table{
    width: 50%;
text-align: justify;
border-collapse: collapse;
margin: auto;
}
th,td{
    border:1px solid var(--primary-color);
}
#btn-primary{
    background-color: var(--primary-color);
    color:white;
    padding:5px;
    margin:1rem;
    border-radius: 0.4rem;

}
